body{
    margin: 0;
    background-color: #73AFB6;
}
#title{
    position: absolute;
    height: 20%;
    width: 100%;
    top: 0;
    left: 0;
    font-family: "Comic Sans MS";
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #342800;
}

#title_txt{
    position: absolute;
    height: 100%;
    top: 0;
    left: 5%;
    font-size: 30px;
    font-family: "Comic Sans MS";
    color: #E2DA99;
    display: flex;
    align-items: center;
}

#time {
	position: absolute;
	height: 100%;
	top: 0;
	right: 5%;
    font-size: 15px;
	color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left{
    position: absolute;
    height: 130%;
    width: 65%;
    top:20%;
    left: 0;
    max-width: 65%;
    /*background-color: beige;*/
}

#right0{
    position: absolute;
    height: 20%;
    width: 35%;
    top:20%;
    right: 0;
    max-width: 35%;
    border-color: beige;
    border-style: ridge;
    background-color: #2B2301;
}

#l1{
    position: absolute;
    height: 50%;
    width: 50%;
    top:0;
    left: 0;
    max-width: 50%;
    font-size: 50px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: black;*/
}

#l2{
    position: absolute;
    height: 50%;
    width: 50%;
    top:50%;
    left: 0;
    max-width: 50%;
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: green;*/
}

#r1{
    position: absolute;
    height: 50%;
    width: 50%;
    top: 0;
    right: 0;
    max-width: 50%;
    font-size: 50px;
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: black;*/
}

#r2{
    position: absolute;
    height: 50%;
    width: 50%;
    top: 50%;
    right: 0;
    max-width: 50%;
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: azure;*/
}

#right1{
    position: absolute;
    height: 30%;
    width: 35%;
    top:40%;
    right: 0;
    max-width: 35%;
    border-color: beige;
    border-style: ridge;
    /*background-color: #009999;*/
}

#right2{
    position: absolute;
    height: 40%;
    width: 35%;
    top: 70%;
    right: 0;
    max-width: 35%;
    border-color: beige;
    border-style: ridge;
    /*background-color: #66CCCC;*/
}

#right3{
    position: absolute;
    height: 40%;
    width: 35%;
    top: 110%;
    right: 0;
    max-width: 35%;
    border-color: beige;
    border-style: ridge;
    /*background-color: #CCFFFF;*/
}

#bottom{
    position: absolute;
    height: 10%;
    width: 100%;
    top: 150%;
    left: 0;
    color: #E2DA99;
    font-family: "Comic Sans MS";
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #342800;
}

#total_title{
    position: absolute;
	height: 10%;
    width: 100%;
	top: 0;
	left: 0;
    font-size: 25px;
    font-weight: bold;
	color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: black;*/
}

#hl_title{
    position: absolute;
	height: 22.5%;
    width: 100%;
	top: 0;
	right: 0;
    font-size: 20px;
    font-weight: bold;
	color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#limit_title{
    position: absolute;
	height: 15%;
    width: 100%;
	top: 0;
	right: 0;
    font-size: 20px;
    font-weight: bold;
	color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#total{
    position: absolute;
	height: 90%;
    width: 95%;
    max-width: 100%;
	top: 10%;
	left: 2.5%;
    font-size: 5px;
	color: white;
    display: flow;
    align-items: center;
    /*background-color: darkcyan;*/
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}

#high_low{
    position: absolute;
	height: 77.5%;
    width: 95%;
	top: 22.5%;
	right: 2.5%;
    font-size: 15px;
	color: white;
    display: flow;
    align-items: center;
    justify-content: center;
}

#limit{
    position: absolute;
	height: 85%;
    width: 95%;
    /*max-width: 100%;*/
	top: 15%;
	left: 2.5%;
    font-size: 5px;
	color: white;
    display: flow;
    align-items: center;
}


.table{
    overflow-x: scroll;
    overflow-y: scroll;
}

.higho_lowg td, th{
    text-align: center;
    color: white;
}

.details td, th{
    text-align: center;
    color: white;
}

.rise_limit td, th{
    text-align: center;
    color: white;
}

.drop_limit td, th{
    text-align: center;
    color: white;
}

td{
    color:black;
    font-size: 5px;
    background-color: white;
    text-align: center;
}

th{
    color:black;
    font-size: 5px;
    background-color: white;
    position: sticky;
    top: 0;
    text-align: center;
}
