<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>股市大盘实时情况</title>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/query.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <div id="title">
        <div id="title_txt">
            股市大盘实时行情<br>
            Real-time situation of the stock market
        </div>
        <div id="time"></div>
    </div>

    <div id="right0">
        <div id="l1" class="digit"></div>
        <div id="r1" class="digit"></div>
        <div id="l2" class="txt">涨停股数</div>
        <div id="r2" class="txt">跌停股数</div>
    </div>

    <div id="right1">
        <div id="hl_title">高开低走股票</div>
        <div id="high_low" class="table">
            {{ higho_lowg|safe }}
        </div>
    </div>

    <div id="right2">
        <div id="limit_title">涨停股票</div>
        <div id="limit" class="table">
            {{ rise_limit|safe }}
        </div>
    </div>

    <div id="right3">
        <div id="limit_title">跌停股票</div>
        <div id="limit" class="table">
            {{ drop_limit|safe }}
        </div>
    </div>

    <div id="left">
        <div id="total_title">沪深A股行情信息</div>
        <div id="total" class="table">
            {{ details|safe }}
        </div>
    </div>

<script>
    function gettime(){
        $.ajax({
            url:"/time",
            timeout:10000,
            success:function (data){
                $("#time").html(data)
            },
            error: function(xhr, type, errorThrown) {
            }
        });
    }
    setInterval(gettime, 1000)
</script>
<script>
    function getrise(){
        $.ajax({
            url:"/rise",
            timeout: 10000,
            success:function (data){
                $("#l1").html(data)
            },
            error: function(xhr, type, errorTrown) {
            }
        })
    }
    setInterval(getrise, 1000)
</script>
<script>
    function getdrop(){
        $.ajax({
            url:"/drop",
            timeout: 10000,
            success:function (data){
                $("#r1").html(data)
            },
            error: function(xhr, type, errorTrown) {
            }
        })
    }
    setInterval(getdrop, 1000)
</script>
</body>

</html>